.TodoInput{
    text-align: center;
    padding-top: 50px;
}

.TodoInput button{
    text-align: center;
    padding: 15px 32px;
    background-color: #68838b;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

.TodoInput input{
    text-align: center;
    margin: 10px;
    padding:8px;
    border:none;
    border-bottom:2px solid #ccc;
}